img {
  width: 25px;
  /* height: 25px;*/
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
}

@media (width: 2880px),
screen and (max-height: 1000px)  {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }

  .row {
    margin-top: 1px;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: 242px;
    margin-top: 20px;
  }

  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    border-style: none;
    padding-left: 267px;
    width: 789px;
    margin-left: 755px;  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -104px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }

}

@media (max-width: 1920px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 1920px;
    padding-left: 128px;
  }

  .row {
    margin-top: 1px;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: 41px;
    margin-top: 20px;
    font-size: 1.8rem;
  }

  input {
    width: 619px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    border-style: none;
    padding-left: 267px;
    width: 889px;
    margin-left: 568px;
  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -104px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }
 
}

@media (max-width: 1679px){
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
    height: 50px;
  }

  #logo {
    width: 170px;
    height: 170px;
  }

  .row {
    margin-top: -55px;
    text-align: center;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
    margin-top: 20px;
  }

  #navcol-1 {
    border-style: none;
    padding-left: 167px;
    width: 650px;
    margin-left: 620px;
    margin-top: 40px;
  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -104px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  #attendance-1 {
    margin-left: 55px;
    margin-top: 110px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 140px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }

}

@media (max-width: 1600px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }

  .row {
    margin-top: 1px;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
    margin-top: 20px;
  }

  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    border-style: none;
    padding-left: 267px;
    width: 889px;
    margin-left: 189px;
  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -104px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }

}

@media (max-width: 1440px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
    margin-top: 20px;
  }

  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: 420px;
  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -104px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 300px;
      height: 150px;
  }

}

@media (max-width: 1400px){
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
    height: 50px;
  }

  #logo {
    width: 170px;
    height: 170px;
  }

  .row {
    margin-top: -55px;
    text-align: center;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
    margin-top: 20px;
  }

  #navcol-1 {
    border-style: none;
    padding-left: 167px;
    width: 889px;
    margin-left: 550px;
    margin-top: 40px;
  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -104px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 110px;
    width: 200px;
    height: 150px;
  }

  #attendance-1 {
    margin-left: 55px;
    margin-top: 110px;
    width: 300px;
    height: 150px;
  }
  #attendance-2{
      margin-left: 55px;
      margin-top: 33px;
        width: 200px;
        height: 150px;
    }
  

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;
  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 300px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;
  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 140px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (max-width: 1360px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
    margin-top: 20px;
  }

  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: 328px;
  }

  .nav.navbar-nav {
    width: 600px;
    margin-left: -144px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }

}

@media (max-width: 1280px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
  }

  .navbar-brand {
    padding-left: 45px;
    /* margin-left: 88px; */
    margin-top: 20px;
  }

  input .search {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    width: 780px;
    padding-left: 266px;
    border-style: none;
    margin-left: 144px;
   }

  .nav.navbar-nav {
    width: 630px;
    margin-left: -34px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 98px;
    width: 200px;
    height: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }

}
/* 
@media (width: 1440px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
  }

  .navbar-brand {
    padding-left: 45px;
    margin-left: 88px;
    margin-top: 20px;
  }

  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: -85px;
  }

  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 110px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 300px;
      height: 150px;
  }

} */

@media (max-width: 1100px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
  }

  .navbar-brand {
    padding-left: 7px;
    margin-left: 0px;
    margin-top: 20px;
  }

  input .search {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }

  #navcol-1 {
    width: 725px;
    padding-left: 266px;
    border-style: none;
    margin-left: 55px;
  }

  .nav.navbar-nav {
    width: 630px;
    margin-left: -90px;
  }

  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    width: 155px;

  }

  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }

  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }

  #network {
    width: 150px;
    margin-left: 119px;
  }

  #attendance {
    margin-left: 55px;
    margin-top: 110px;
    width: 200px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 90px;  }

  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }

  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 90px;  }

  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }

  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }

  .page-footer {
    margin: 0;
  }

  .img-fluid {
    width: 25px;
    height: 25px;
  }

  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
  #attendance-2{
    margin-left: 55px;
    margin-top: 33px;
      width: 200px;
      height: 150px;
  }

}







.page-footer h4{
  margin-top: 10px;
  
  }
  
  #collabDiv{
    margin-top: 50px;
  }
  
  #joinNowDiv{
    margin-top: 50px;
  }
  
  #networkDiv{
    margin-top: 50px;
  }