@charset "utf-8";

/* CSS Document */
html,
body {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
  min-height: 100vh;
  flex-direction: column;
}

#coachpic {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  ;
}

.flex {
  display: flex;
  margin: auto;
}

.card {
  margin-right: 75px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.card-title {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  padding-top: 15px;
  font-size: 18px;
}

.card-bio {
  font-size: 100px;
}

.col-md-2 {
  color: white;
}


a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 24px;
}

/* button style */
.btn,
.btn.disabled {
  background: #f44336;
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 30px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.btn:hover {
  background: #e53935;
  color: #ffffff;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: .5;
}

/* form style */
label {
  font-weight: 400;
}

/* event ticket css */
/* .event-ticket-wrapper{	
    padding: 40px;
} */